body{
    font-family: 'Lora', serif;
}
.flex{
    display: flex;
    margin-bottom: 40px;
}
.half-width{
    width: 50%;
    margin-left: 4%;
    margin-right: 5%;
}
.half-width img{
    width: 70%;
}
h1{
    font-size: 35px;
    padding-left: 5px;
}
.border{
    border-left: 3px solid #ebcd7b;
}
.yellow{
    color: rgb(247, 65, 33);
}
.button{
    text-decoration: none;
    color: cornsilk;
    font-weight: 600;
    background-image: linear-gradient(orange, red);
    padding: 5px 10px;
    border-radius: 5px;
}
.center{
    text-align: center;
}
.boxa{
    height: 350px;
    width: 230px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 4%;
    background-color: rgb(234, 241, 241);
    border-radius: 10px;
}
.boxb{
    height: 350px;
    width: 230px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 4%;
    background-color: rgb(248, 239, 239);
    border-radius: 10px;
}
.boxc{
    height: 350px;
    width: 230px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 3%;
    padding-right: 4%;
    background-color: rgb(247, 229, 205);
    border-radius: 10px;
}
.ilupic{
    height: 100px;
}
.line{
    padding-right: 80px;
}
.background{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px 200px;
    background-position: 0vw;
}
.backgroundtwo{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px 200px;
    background-position: bottom -5px right 150px;
}
.foot{
    background-color: black;
    color: whitesmoke;
}
.buttontwo{
    text-decoration: none;
}
.last{
    width: 40%;
    padding-left: 10%;
    background-image: url(images/shapes/shape-2.png);
    margin-right: 7%;
    color: whitesmoke
}
